[mysqld]
basedir = /usr/local/mysql/mysqlc
datadir = /usr/local/mysql/ndbdata 
#datadir=/var/lib/mysql
socket=/usr/local/mysql/mysqlc/mysql.sock
#socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
default-storage-engine=NDB
tmp_table_size=4096M
max_heap_table_size=4096M

user=mysql

ndbcluster
ndb-connectstring=192.168.1.252
[mysql_cluster]
ndb-connectstring=192.168.1.252
[ndbd]
connect-string=192.168.1.252
[ndb_mgm]
connect-string=192.168.1.252
[ndb_mgmd]
config-file=/usr/local/mysql/etc/config.ini


[mysqld_safe]
log-error=/usr/local/mysql/ndbdata/mariadb.log
pid-file=/usr/local/mysql/ndbdata/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

